.select-team-token {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.betting-nft-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px 88px;
    grid-auto-flow: row;
    margin-bottom: 40px;
    margin-top: 56px;
}
.nation-name {
    font-family: 'Codec Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    color: #7e829d;
}
.my-nft-empty {
    font-family: 'Codec Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    justify-content: center;
    padding: 100px;
}
.img-player {
    object-fit: cover;
}
.betting-steps-footer {
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 171px;
    background: linear-gradient(5.64deg, #06131e 5.26%, rgba(6, 19, 30, 0) 149.49%);
}
