.betting-bg {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    background: #01000d;
}
.betting-head-bg {
    width: 100vw;
    height: 743px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url(/betting-head-bg.png) no-repeat top center;
    background-size: cover;
}
.balance-heading {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: #ffffff;
}
.balance-match-text {
    font-family: 'Codec Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: #7e829d;
}
.group-match-list {
    flex-wrap: wrap;
    width: 1200px;
    justify-content: space-between;
    > div {
        margin-right: 32px;
        margin-bottom: 32px;
    }
    > div:nth-child(2n) {
        margin-right: 0;
    }
}
.top8-match-list {
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    > div {
        margin-bottom: 32px;
    }
}

.match-date {
    width: 236px;
    height: 62px;
    background: url('/img-match-date.png') no-repeat;
    background-size: cover;
    font-family: 'Codec Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #000000;
    text-align: center;
    padding-top: 34px;
    margin-bottom: 20px;
}
.betting-rules {
    list-style: none;
    > li {
        display: flex;
        color: #7e829d;
        margin-bottom: 12px;
        > span:first-child {
            font-family: 'Codec Pro';
        }
        > span:last-child {
            font-family: 'Helvetica';
        }
    }
}
