.betting-card {
    background: linear-gradient(90deg, #121222 0%, #0d0d19 100%);
    border-radius: 24px;
    min-width: 584px;
    height: 260px;
    padding: 20px 24px;
    .match-type {
        background: rgba(11, 125, 237, 0.1);
        border-radius: 100px;
        width: 80px;
        height: 24px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #7e829d;
    }

    .btn-bet {
        background: #2b2b40;
        border: 1px solid rgba(255, 255, 255, 0.03);
        border-radius: 8px;
        // transform: skew(15deg);
        width: 168px;
        height: 40px;
        margin-top: 16px;
        font-family: 'Codec Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;
        /* identical to box height */

        text-align: center;
        text-transform: capitalize;

        color: #ffffff;
    }
    .btn-bet-left {
        background: url('/btn-betting-left.png') no-repeat;
        background-size: 100% 100%;
    }
    .btn-bet-draw {
        background: url('/btn-betting-draw.png') no-repeat;
        background-size: 100% 100%;
    }
    .btn-bet-right {
        background: url('/btn-betting-right.png') no-repeat;
        background-size: 100% 100%;
    }
}
