.header-navs {
    a.active {
        color: var(--primary-color);
    }
    > a {
        color: #ffffff;
        margin-right: 56px;
    }
    > a:hover {
        color: var(--primary-color);
    }
    > a:last-child {
        margin-right: 0;
    }
}

.btn-get-token {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.03) 100%);
    border-radius: 8px;
    width: 144px;
    height: 40px;
    color: #fed411;
    font-family: 'Codec Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    margin-right: 16px;
}
